<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8063038151-od8579r1bf5vdq7n3fkd1v19a06b7meo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8063038151-od8579r1bf5vdq7n3fkd1v19a06b7meo</string>
	<key>API_KEY</key>
	<string>AIzaSyCCWX4piow5g-G9jfkmxGUI8it3uqUnwVc</string>
	<key>GCM_SENDER_ID</key>
	<string>8063038151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cpp.ios-myinsta</string>
	<key>PROJECT_ID</key>
	<string>ios-myinsta-5e4b4</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-myinsta-5e4b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8063038151:ios:9be5681ebb0348bbd484e2</string>
</dict>
</plist>